doctype html
html
  head
    title NodeBlog
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.4.4.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascript/script.js')
    script(type='text/javascript')
   

  

  body
    nav.navbar.navbar-default.navbar-fixed-top
      
         
            
          
    .container
      != messages()
      block content
      
      footer
